# Não enviar o validator_cli (grande demais)
Arquivos/validator_cli.jar
# Ambiente virtual é criado na máquina do usuário (garantir compatibilidade)
*venv*
# Arquivos de upload desnecessário (Criados durante execução)
**/__pycache__
# Arquivo de backup/teste
**/OLD*.*
# Criado a cada iteração do programa
Arquivos/fut*.log
# Criado no computador de usuario de acordo com os usos
historico.csv
# Ignorando os arquivos do pyintaller
build/
dist/
*.spec