# Não enviar o validator_cli (grande demais)
**/validator_cli.jar
# Ambiente virtual é criado na máquina do usuário (garantir compatibilidade)
.venv-fut
venv-fut
venv
# Arquivos de upload desnecessário (Criados durante execução)
**/__pycache__
# Arquivo de backup
**/OLD*.*
# Criado a cada iteração do programa
**/fut*.log