# Não enviar o validator_cli (grande demais)
Backend/validator_cli.jar
# Ambiente virtual é criado na máquina do usuário (garantir compatibilidade)
.venv-fut
# Arquivos de upload desnecessário (Criados durante execução)
**/__pycache__
# Arquivo de backup
**/OLD*.*
# Criando a cada iteração do programa
**/fut*.log